.container{
    color: #128;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: larger;
}

label::before{
    content: "";
}

#name{
    padding: 0.5rem 2rem;
    border: 2px solid #128;
    margin: 1rem;
}

#occupation{
    padding: 0.5rem 1rem;
    border: 2px solid #128;
    margin: 1rem;
}

#favColor{
    padding: 0.2rem;
    border: 2px solid #128;
    margin: 1rem 2rem;
}

#submit{
    padding: 0.2rem;
    border: 2px solid #128;
    margin: 1rem 10rem;
}

.modal-content{
    background-color: #128;
    color: #fff;
    height: 90vh;
}